<div class="optionMenu">
  <h1>Wybierz Temat</h1>
  <div class="cards">
    <div class="optionCard">
      <h2>The Basics</h2>
      <p>Core Angular basics you have to know</p>
      <button (click)="sendMessage('chosenBasics')">Learn More</button>
    </div>

    <div class="optionCard">
      <h2>Components</h2>
      <p>Components are a core concept for building Angular Uls and Apps</p>
      <button (click)="sendMessage('chosenComponents')">Learn More</button>
    </div>

    <div class="optionCard">
      <h2>Events</h2>
      <p>Events are important in Angular</p>
      <button (click)="sendMessage('chosenEvents')">Learn More</button>
    </div>

  </div>
</div>
