<form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)" class="formContent">
      <p>Dodaj nową wycieczkę</p>
      <input name="name" formControlName="name" placeholder="Name">
      <p class="errorLog">Nazwa nie może być pusta</p>
      <input name="country" formControlName="country" placeholder="Country">
      <p class="errorLog">Kraj nie może być pusty</p>
      <input name="startDate" formControlName="startDate" placeholder="Start Date" type="date">
      <p class="errorLog">Podaj datę rozpoczęcia</p>
      <input name="endDate" formControlName="endDate" placeholder="End Date" type="date">
      <p class="errorLog">Podaj datę zakończenia</p>
      <input name="price" formControlName="price" placeholder="Price">
      <p class="errorLog">Koszt musi być większy od 0</p>
      <input name="quantity" formControlName="quantity" placeholder="Quantity">
      <p class="errorLog">Ilośc musi być większa od 0</p>
      <textarea name="description" formControlName="description" placeholder="Description" style="height: 500vh;font-size: 20px;"></textarea>

      <div id="controls">
        <button class="btn btn-default" routerLink="/home" style="background-color: red; color: aliceblue; font-size: 20px;">Cancel</button>
        <button type="submit" style=" font-size: 20px;">Send</button>
      </div>
</form>
