.ratings {
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
}

p {
    padding: 0;
    margin: 0;
}


.stars {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rateUs {
    width: 100%;
    padding: 0;
    text-align: center;
}

.desc {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}