<div class="main">
    <div class="addPost">
        <app-posts (formSubmitPost)="addingSubmitedPost($event)" [id]="getID()"></app-posts>
    </div>
    <div class="postList">
        <div class="postContainer" *ngFor="let post of getTripName(tripName)">
            <div class="title">
                <p class="header">{{ post.tripName }}</p> 
                <hr>
            </div>
            <div class="opinion">{{post.shortDesc}}</div>
            <div class="bottom">
                <div class="nickName">{{ post.name }}</div>
                <div class="boughtDate">{{ post.startDate }}</div>
            </div>
        </div>
    </div>
</div>