<div class="main">
    <div class="upper">
        POSTS
    </div>
    <div class="adding">
        <app-add-post></app-add-post>
    </div>
    <div class="card-container" >
        <div class="card" *ngFor="let post of data.posts">
            <div class="title-box">
                {{ post.title }}
            </div>
            <div class="body">
                {{ post.body }}
            </div>
            <div class="footer">
                <hr class="bg-danger border-3 border-top">
                <div class="IDs">
                    <a class="userID">userID: {{ post.userId }}</a>
                    <a class="postID">postID: {{ post.id }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
