<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Wybierz tryb persystencji
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="setLocal()" href="#">LOCAL</a>
    <a class="dropdown-item" (click)="setSession()" href="#">SESSION</a>
    <a class="dropdown-item" (click)="setNone()" href="#">NONE</a>
  </div>
</div>
