
<div class="main">
  <form [formGroup]="tripForm">
    <div class="container-fluid">
        <div class="info">
          <h1>Dodaj wycieczkę</h1>
        </div>
        <div class="add-form">
            <div class="add-form-el mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Nazwa" name="name" formControlName="tripName">
              </div>
              <span *ngIf="formErrors.tripName">{{ formErrors.tripName }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group"> 
                  <input type="text" class="form-control" placeholder="Kraj" name="dest" formControlName="tripDestination">
              </div>
              <span *ngIf="formErrors.tripDestination">{{ formErrors.tripDestination }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Data rozpoczęcia" name="startDate" formControlName="tripStartDate">
              </div>
              <span *ngIf="formErrors.tripStartDate">{{ formErrors.tripStartDate }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Data zakończenia" name="endDate" formControlName="tripEndDate">
              </div>
              <span *ngIf="formErrors.tripEndDate">{{ formErrors.tripEndDate }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Cena" name="price" formControlName="tripUnitPrice">
                  <span class="input-group-text currency" id="basic-addon3">{{ actualCurrency }}</span>
              </div>
              <span *ngIf="formErrors.tripUnitPrice">{{ formErrors.tripUnitPrice }}</span>
            </div>
            <div class="add-form-el mb-3">
                <div class="input-group">
                  <input class="form-control" placeholder="Ilość" name="maxQuantity" formControlName="tripMaxQuantity">
                </div>
                <span *ngIf="formErrors.tripMaxQuantity">{{ formErrors.tripMaxQuantity }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                <textarea class="form-control" placeholder="Krótki opis" name="shortDesc" formControlName="tripShortDesc"></textarea>
              </div>
              <span *ngIf="formErrors.tripShortDesc">{{ formErrors.tripShortDesc }}</span>
            </div>

            <div class="add-form-el mb-3">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Zdjęcie nr 1" name="imageLink" formControlName="tripImageLink1">
              </div>
              <span *ngIf="formErrors.tripImageLink1">{{ formErrors.tripImageLink1 }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Zdjęcie nr 2" name="imageLink" formControlName="tripImageLink3">
              </div>
              <span *ngIf="formErrors.tripImageLink3">{{ formErrors.tripImageLink3 }}</span>
            </div>
            <div class="add-form-el mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Zdjęcie nr 3" name="imageLink" formControlName="tripImageLink2">
              </div>
              <span *ngIf="formErrors.tripImageLink2">{{ formErrors.tripImageLink2 }}</span>
            </div>
          <button [disabled]="!tripForm.valid" class="add" type="submit" (click)="makeNewTrip()">Dodaj</button>
        </div>
      </div>
  </form>
</div>
