.main {
    margin: 0;
    padding: 0;
    height: 93vh;
    width: 100%;
}


.el-container {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60vw;
}

.info {
    width: 100%;
    height: 20vh;
    background-color: rgb(249, 191, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 15rem;
    height: 100%;
}

.fakePhoto {
    width: 24rem;
}

.status {
    width: 6rem;
    padding-right: 4%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: 8px;
}

.element {
    border: 1px solid black;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: fit-content;
    height: 20vh;
    background-color: rgb(249, 191, 59);
}

.element-empty {
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: fit-content;
}


.tripInfo {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.about {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.con {
    max-width: 15%;
}

.quantity {
    max-width: none;
}

.item {
    text-align: center;
}

.editInfo {
    align-self: center;
    padding-right: 4%;
}

.remove {
    width: 100%;
    text-align: center;
}

span {
    cursor: pointer;
}


.item {
    padding: 0 1rem 0 1rem;
    margin: 0;
    text-align: center;
}

hr {
    border-top: 1px solid black;
    width: 100%;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  }


.btn1, .btn2 {
    color: black;
    background-color: white;
    border-radius: 50%;
}
.btn2 {
    margin-left: 0.5rem;
}

.btn1:hover {
    background-color: lime;
}

.btn2:hover {
    background-color: tomato;
}

.history-dir {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.pos {
    cursor: pointer;
    border: none;
    background-color: rgb(208, 0, 27);
    border-radius: 15px;
    color: white;
}


@media(max-width:1100px) {
    .el-container {
        width: 100%;
        overflow: hidden;
    }

    .element {
        display: flex;
        width: 20vw;
        min-width: fit-content;
        height: 100%;
    }

    .photo {
        display: none;
    }

    .tripInfo {
        width: 100vw;
    }

    .editInfo {
        padding: 0 1rem 0 1rem;
    }

    .fakePhoto {
        width: 3rem;
    }

    .status {
        padding-right: 4%;
    }

}

@media(max-width: 360px) {
    .change-qt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn1, .btn2 {
        margin: auto;
    }

    .price {
        padding-left: 2rem;
    }
}