<div class="main">
    <div class="nav-elements">
        <div class="logo">LOGO</div>
        <div class="routing">
            <div class="nav-link">
                <a class="link" routerLink="" routerLinkActive="active">Home</a>
            </div>
            <div class="nav-link">
                <a class="link" routerLink="/posts" routerLinkActive="active">Posts</a>
            </div>
            <div class="nav-link">
                <a class="link" routerLink="/photos" routerLinkActive="active">Photos</a>
            </div>
        </div>
    </div>
</div>