<div class="main">

    <div class="info">
        <div class="adress">
            <div class="loalizacja">
                <h1>Kontakt</h1>
                <div class="contact">
                    <p class="con-el">Dla tel. komórkowych: 12 5567 111</p>
                    <p class="con-el">Adres e-mail: example@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="logo">
            <img src="assets/img/trippin_sliding.png" alt="logo-footer">
        </div>
        <div class="hours">
            <h1>Dostępność</h1>
            <div class="hours">
                <p class="hours-el">pon-pt: 8-22</p>
                <p class="hours-el">sob-nd: 9-20</p>
            </div>
        </div>
    </div>
</div>