<div class="main">
    <div class="upper">
        <p>Komentarze</p>
        <hr>
    </div>
    <div class="add-post">
        <nav class="navbar">
            <form [formGroup]="postForm">
              <div class="container-fluid">
                  <div class="btn">
                      <button class="navbar-toggler add-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span>Dodaj opinie</span>
                      </button>
                  </div>
                  <div class="collapse navbar-collapse navbar-light bg-light" id="navbarNav">
                    <div class="add-form">
                      <div class="add-form-el mb-3">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Nick" name="name" formControlName="postName">
                        </div>
                        <span *ngIf="formErrors.postName">{{ formErrors.postName }}</span>
                      </div>
                      <div class="add-form-el mb-3">
                        <div class="input-group"> 
                            <input type="text" class="form-control" placeholder="Nazwa wycieczki, którą się odbyło" name="dest" formControlName="postTripName">
                        </div>
                        <span *ngIf="formErrors.postTripName">{{ formErrors.postTripName }}</span>
                      </div>
                      <div class="add-form-el mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Data zakupu" onfocus="(this.type='date')" name="startDate" formControlName="postStartDate">
                        </div>
                        <span *ngIf="formErrors.postStartDate">{{ formErrors.postStartDate }}</span>
                      </div>
                      <div class="add-form-el mb-3">
                        <div class="input-group">
                          <textarea class="form-control" placeholder="Krótki opis" name="shortDesc" formControlName="postShortDesc"></textarea>
                        </div>
                        <span *ngIf="formErrors.postShortDesc">{{ formErrors.postShortDesc }}</span>
                      </div>

                      <button [disabled]="!postForm.valid" class="add" type="submit" (click)="makeNewPost()">Dodaj</button>
                    </div>
                  </div>
                </div>
            </form>
          </nav>
    </div>
</div>
