<div class="correct" *ngIf="ifUpcoming() != false" >
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <span class="material-symbols-outlined">notifications</span>
  </button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Zbliżająca się wycieczka!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Wycieczka niedługo się odbędzie!</p>
          </div>
        </div>
      </div>
    </div>
</div>
