.upper {
    width: 100%;
    height: 18vh;
    background-color: rgb(255, 163, 0);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 7px;
}

.photo-container {
    padding-top: 3.5rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4%;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    margin-bottom: 3.5rem;
    max-width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

img {
    width: 20rem;
    height: 20rem;
}

.desc {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.IDs {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}