<div class="main">
    <div class="upper">
        PHOTOS
    </div>
    <div class="photo-container" >
        <div class="photo" *ngFor="let photo of data.photos" [routerLink]="['/photo-view', photo.id]" routerLinkActive="active">
            <div class="image">
                <img src="{{ photo.thumbnailUrl }}" alt="{{ photo.title }}">
            </div>
            <div class="desc">
                <div class="title">
                    <a >title: {{ photo.title }}</a>
                </div>
                <div class="IDs">
                    <a class="photoID">ID: {{ photo.id }}</a>
                    <a class="albumID">albumID: {{ photo.albumId }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

