html,
body {
  height: 100%;
  width: 100%;
}

picture {
  height: 10%;
  max-width: 100%;
  max-height: 50%;
}

.cityContainer > div > h1,
.cityContainer > div > h2{
  text-align: center;
  line-height: 5px;
  font-weight:bolder;
  word-wrap: break-word;
}

.cityContainer > div > p {
  margin-left: 1vh;
  font-size: 15px;
}

.cityContainer > div {
  width: 350px;
  height: 450px;
  border: 1px solid black;
  box-shadow: 0.5vh 0.5vh 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:2vh;
}

img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
}

.cityContainer{
  position:relative;
}

.cityOutContainer > div{
  position: relative;
  background-color: lightcoral !important;
}

.cheapest > div{
  position: relative;
  background-color: lightgreen;
}

.mostExpensive > div{
  position: relative;
  background-color: lightseagreen;
}

.quantityInfo{
  width: 30%;
  font-size: 20px;
  display: flex;
  gap: 1vh;
}

.quantityInfo > p{
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

.quantityInfo > button{
  width: 3vh;
  height: 3vh;
  border-radius: 5vh;
  font-size: 20px;
}

#remove{
  z-index: 1;
}

.controls > * {
  height: 3vh;
}

.ratings{
  width: 30%;
  font-size: 10px;
}

.controls{
  padding-left: 2vh;
  padding-top: 2vh;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sold{
  width: 200%;
  position: absolute;
  font-size: 55px;
  color: cornsilk;
  font-weight: 900;
  transform: rotate(-63deg) translateY(-145px) translateX(-80px);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 0;
}

.Nonsold{
  display: none;
}

.ratingsAverage{
  width: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 10px;
}
