<div class="main">
  <div class="card">
    <p>Przeżyj przygodę życia!</p>

    <button>
        Sprawdź naszą ofertę!
    </button>
  </div>
>

  <div class="contact">
    <div class="aside">
        <h1>Skontaktuj się z nami!</h1>
        <p class="header">Telefon:</p>
        <p class="info">+48 123 456 789 </p>

        <p class="header">Email: </p>
        <p class="info">logo.trips@gmail.com</p>

        <p class="header">Adres: </p>
        <p class="info"> 63-628 Poznań <br>ul. Leśna</p>

    </div>

    <div class="map">

    </div>

  </div>

</div>
