<div class="parent" >
  <div class="div1"><h1>ZAPLANUJ SWOJĄ PODRÓŻ</h1></div>

  <div class="div2">
    <div class="filtr" (click)="showFilter()" style="transform: translateY(-2px);">
      <fa-icon [icon]="faFilter" id="icond" transform="shrink--15"></fa-icon>
    </div>

    <div class="basket">
      <fa-icon clickable [routerLink]="['/shopping-basket']" [icon]="faShoppingBasket" id="icond" transform="shrink--15" ></fa-icon>
      <div style="transform: translateY(-15px);">{{ "   " + getSum() + " zł" }}</div>
    </div>

    <div style="transform: translateY(-8px);" class="tripCounter" [ngClass]="{ tripCounerSecondBackground: tripCounter < 10,
                                          tripCounerFirstBackground: tripCounter >= 10 }">
      <p >{{ "Liczba zarezerwowanych wycieczek: " + tripCounter }}</p>
    </div>

    <div id="formTrip" style="transform: translateY(-8px);">
      <button class="newTripButton" [routerLink]="['/form-trip']">Dodaj nową wycieczkę</button >
    </div>
  </div>

  <div class="div3">
    <ng-container *ngFor="let data of getData()" class="container">
      <app-trip-card  (sumEmiter)="receiveMessage($event)" (tripEmiter)="tripDelete($event)"
                      [data]="data" [cheapest]="checkCheapest(data.price)" [mostExpensive]="checkMostExpenssive(data.price)"
                      [tripToDelete] = "data.name"
      >
    </app-trip-card>
    </ng-container>
  </div>
  <div class="div4"> <h1>Super Reklama </h1></div>
</div>
