<div class="main">
  <div class="card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, distinctio.</p>
    <button type="button" class="btn btn-primary">Zobacz ofertę</button>
  </div>

  <div class="contact">
    <div class="aside">
        <h1 style="color: rgb(218, 218, 218);">Skontaktuj się z nami!</h1>
        <p class="header">Telefon:</p>
        <p class="info">+48 123 456 789 </p>

        <p class="header">Email: </p>
        <p class="info">logo.trips@gmail.com</p>

        <p class="header">Adres: </p>
        <p class="info"> 63-628 Poznań <br>ul. Leśna</p>

    </div>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d6884.896676664273!2d16.958976852493468!3d52.40343990715827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTLCsDI0JzEzLjkiTiAxNsKwNTcnNDUuNiJF!5e0!3m2!1spl!2spl!4v1675366443523!5m2!1spl!2spl"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

</div>
