<div class="main" >
    <div class="info">
        <h1>Historia zakupu</h1>
    </div>
    <div class="back" [routerLink]="['/basket']" routerLinkActive="active">
        <a routerLink="/basket">powrót do koszyka</a>
        <!-- <a routerLink="/trips"><span class="material-symbols-outlined">arrow_back</span></a> -->
    </div>
    <div class="filters">
        <h2>Filtry</h2>
        <div class="checkboxes">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="upcomingCheck" id="upcomingCheck" checked="false" [checked]="IsUpcoming" (change)="IsUpcoming = !IsUpcoming" >
                <label class="form-check-label" for="upcomingCheck">Nadchodząca</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="duringCheck" id="duringCheck" checked="false" [checked]="IsDuring" (change)="IsDuring = !IsDuring">
                <label class="form-check-label" for="duringCheck">W trakcie</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="completedCheck" id="completedCheck" checked="false" [checked]="IsCompleted" (change)="IsCompleted = !IsCompleted">
                <label class="form-check-label" for="completedCheck">Zakończona</label>
            </div>
        </div>
    </div>
    <div class="el-container">
        <div class="element" *ngFor="let bought of boughtTrips | historyFilter: IsDuring: IsUpcoming: IsCompleted">
            <!-- <a routerLink="['basket']"></a> -->
            <div class="photo">
                <img src="{{ bought.imageLink1}}" alt="">
            </div>
            <div class="tripInfo">
                <div class="about">
                    <div class="name con">
                        <p class="item">{{ bought.name }}</p>
                    </div>
                    <div class="price con">
                        <p class="itemInfo">cena: </p>
                        <p class="item">{{ bought.unitPrice | currency: actualCurrency}}</p>
                    </div>
                    <div class="quantity con">
                        <p class="itemInfo">bilety: </p>
                        <p class="item">{{ bought.bought }}</p>
                    </div>
                    <div class="purchaseDate con">
                        <p class="itemInfo">data zakupu:</p>
                        <p class="item">{{ bought.boughtDate}}</p>
                    </div>
                </div>
                <div class="status">
                    <div class="buy">
                        <button type="button" class="btn btn-primary" *ngIf="bought.status == 0">Nadchodząca</button>
                        <button type="button" class="btn btn-danger" *ngIf="bought.status == 1">ZAKOŃCZONA</button>
                        <button type="button" class="btn btn-success" *ngIf="bought.status == -1">W TRAKCIE</button>
                    </div> 
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
