* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: aliceblue;


}

#container {
    width: 100%;
    height: 100%;
}

#placeholder {
    width: calc(100% - 3vh);
    height: auto;
    margin: 3vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#addNewCard {
    padding: 3vh;
    width: calc(100% - 3vh);
    height: calc(20% - 3vh);
    margin: 3vh;
    display: flex;
    align-items: center;
    gap: 3%;
    background-color: white;
}

.inputField {
    width: 30%;
    height: 8vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}

.inputField input {
    height: 5vh;
    border-radius: 5px;
    font-size: 20px;
}

.inputField label {
    color: gray;
}

#cardButton {
    width: 30%;
    height: 6vh;
    background-color: green;
    border-radius: 1vh;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: 700;
}

.sections {
    display: flex;
    flex-direction: row;
    width: calc(100% - 3vh);
    height: 15vh;
    padding: 3vh;
    background-color: white;
}

.contactInfo {
    margin-left: 2vh;
    width: calc(100% - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deleteButton {
    width: 9vh;
    height: 9vh;
    background-color: green;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5vh;
}